// --- font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
// === / font
// --- mixin
// === / mixin
// --- variables
$screen_xs_max: 575px;
$screen_sm_max: 767px;
$screen_md_max: 991px;
$screen_lg_max: 1199px;
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;
// === / variables
// --- commons
* {
    box-sizing: border-box;
    cursor: url('../img/cursor.cur'), default;
}

.cursor {
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    transition-duration: 100ms;
    // transition-timing-function:  ease-out;
    animation: cursorAnim 1.3s infinite alternate;
    pointer-events: none;
    z-index: 1000;
}

.cursor::before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    border: 1px solid #5f1374;
    border-radius: 50%;
    opacity: .8;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    animation: cursorAnim 1.3s infinite alternate;
}

.cursor::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    border: 8px solid #CA9883;
    border-radius: 50%;
    opacity: .5;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    animation: cursorAnim2 1s infinite alternate;
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid #7e1b75;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.5);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 166.69%;
    color: #FFFEFE;
    background-color: rgba(23, 4, 34, 1);
    a,
    a:hover {
        text-decoration: none;
        color: #fff;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    .container {
        max-width: 1290px;
    }
    .brand-btn {
        display: inline-block;
        font-family: 'Roboto';
        text-align: center;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
        width: 221px;
        transition: .3s;
        &__main {
            background: linear-gradient(90deg, rgba(66, 26, 136, 1), rgba(126, 27, 117, 1));
            padding: 14px 0;
            &:hover {
                filter: drop-shadow(4px 4px 20px rgba(255, 254, 254, 0.2));
            }
        }
        &__second {
            background: none;
            border: 1px solid;
            border-image-source: linear-gradient(90deg, rgba(66, 26, 136, 1), rgba(126, 27, 117, 1));
            border-image-slice: 1;
            padding: 13px 0;
            &:hover {
                background: linear-gradient(90deg, rgba(66, 26, 136, 1), rgba(126, 27, 117, 1));
            }
        }
    }
    .section_title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 64px;
        line-height: 87px;
        text-transform: uppercase;
        color: #FFFEFE;
        margin-bottom: 150px;
    }
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

// === / commons
// --- header
.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    padding-top: 6px;
    .logo {
        background: url(../img/bg-logo.png) no-repeat 50% 50%;
        background-size: contain;
        width: 121px;
        height: 121px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        color: #FCF3E4;
    }
    .menu {
        list-style: none;
        .menu_item a {
            font-weight: normal;
            text-transform: uppercase;
            color: #FCF3E4;
            &:hover {
                color: #CA9883;
            }
        }
    }
} // === / header
// --- intro
.section_intro {
    padding: 0;
    height: 100vh;
    overflow: hidden;
    .video {
        position: relative;
        display: flex;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(23, 4, 34, .7);
            z-index: 1;
        }
        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .intro_text_wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        text-align: center;
        line-height: 166.69%;
        .intro_title {
            font-family: 'Roboto';
            font-weight: 900;
            font-size: 150px;
            line-height: 176px;
            letter-spacing: 0.445em;
            text-transform: uppercase;
            color: #CA9883;
            max-width: 1036px;
        }
        .intro_subtitle {
            margin-top: 20px;
            font-family: 'Roboto';
            font-weight: normal;
            font-size: 96px;
            line-height: 112px;
            /* identical to box height */
            letter-spacing: 0.195em;
        }
        .intro_description {
            margin-top: 25px;
            font-weight: normal;
            font-size: 20px;
            line-height: 158.69%;
            /* or 32px */
        }
        .intro_button {
            margin-top: 50px;
        }
    }
}

// === / intro
// --- promo
.section_promo {
    padding-top: 200px;
    .promo_text {
        font-size: 20px;
        margin-bottom: 150px;
        text-align: center;
    }
    .promo_card {
        position: relative;
        display: flex;
        justify-content: center;
        &__icon {
            position: absolute;
        }
        &__description {
            text-align: center;
            margin-top: 37.5px;
            padding: 45px 35px;
            border: 1px solid rgba(255, 254, 254, 0.5);
            min-height: 270px;
        }
    }
}

// === / promo
// --- services
.section_services {
    .section_title {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            margin-left: -110px;
            display: block;
            background-color: #CA9883;
            width: 90px;
            height: 3px;
        }
    }
    .service_card {
        margin-top: 100px;
        &__title {
            position: relative;
            font-family: 'Roboto';
            font-weight: normal;
            font-size: 50px;
            line-height: 59px;
            text-transform: uppercase;
            color: #CA9883;
            padding-bottom: 15px;
            margin-bottom: 20px;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 3px;
                width: 90px;
                background-color: #CA9883;
            }
        }
        &__description {
            padding-left: 40px;
            min-height: 330px;
            ul {
                margin-left: 20px;
            }
        }
        &__button {
            margin-top: 15px;
            padding-left: 40px;
        }
    }
}

// === / services
// --- section_services_item
.section_services_item {
    margin-top: 127px;
    overflow: hidden;
    .back_arrow {
        font-size: 20px;
        transition: .3s;
        &:hover {
            color: #CA9883;
        }
    }
    .services_title {
        font-family: 'Roboto';
        font-weight: normal;
        font-size: 60px;
        line-height: 70px;
        text-transform: uppercase;
        color: #CA9883;
        position: relative;
        margin-left: 110px;
        margin-bottom: 100px;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            margin-left: -110px;
            display: block;
            background-color: #CA9883;
            width: 90px;
            height: 3px;
        }
    }
    .services_item {
        padding: 45px 30px;
        border: 1px solid #CA9883;
        height: 100%;
        ol {
            padding-left: 28px;
        }
        .services_item__title {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 36px;
            line-height: 49px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding-bottom: 10px;
            margin-bottom: 30px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                // top: 50%;
                // margin-left: -110px;
                bottom: 0;
                display: block;
                background-color: #CA9883;
                width: 90px;
                height: 3px;
            }
        }
        .services_item__subtitle {
            font-family: 'Roboto';
            text-align: center;
            font-weight: 900;
            font-size: 36px;
            line-height: 42px;
            text-transform: uppercase;
            color: #FFFEFE;
            margin-bottom: 30px;
        }
        .services_item__list {
            ul {
                list-style: none;
            }
            li+li {
                margin-top: 5px;
            }
            li span {
                color: #CA9883;
            }
        }
    }
}

// === / section_services_item
// --- steps
.section_steps {
    .section_title {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            margin-left: -110px;
            display: block;
            background-color: #CA9883;
            width: 90px;
            height: 3px;
        }
    }
    .steps_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__icon {
            width: 60px;
            height: 60px;
            margin-bottom: 30px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__title {
            margin-bottom: 30px;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            /* identical to box height */
            text-transform: uppercase;
            color: #CA9883;
        }
        &__description {
            text-align: center;
            color: #FFFFFF;
        }
    }
}

// === / steps
// --- about
.section_about {
    padding: 0;
    position: relative;
    overflow: hidden;
    background-color: #0f000c;
    .video {
        position: relative;
        display: flex;
        height: 970px;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(23, 4, 34, .7);
            z-index: 1;
        }
        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .about_text_wrap {
        padding-top: 100px;
        padding-bottom: 100px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        line-height: 166.69%;
        .slider {
            .about_item {
                max-width: 376px;
                height: 460px;
                padding: 0 72px;
                margin: 20px 10px;
                outline: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: rgba(74, 20, 75, 0.2);
                border-radius: 5px;
                transition: .3s;
                // cursor: pointer;
                &:hover {
                    background: #25042E;
                }
                &__title {
                    font-weight: 600;
                    font-size: 70px;
                    line-height: 1;
                    text-transform: uppercase;
                    color: #FFFEFE;
                    transition: .3s;
                    span {
                        font-size: 48px;
                    }
                }
                &__description {
                    text-align: center;
                    margin-top: 30px;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 1.3;
                }
            }
            .slick-current {
                background: #25042E;
                height: 500px;
                margin: 0 10px;
                .about_item__title {
                    font-size: 96px;
                }
            }
        }
    }
}

// === / about
// --- feedback
.section_feedback {
    .form {
        input,
        textarea {
            outline: none;
            border: none;
            resize: none;
            color: #fff;
            background: none;
        }
        .input {
            width: 100%;
            border-bottom: 2px solid rgba(106, 73, 153, 0.4);
            padding: 10px 0;
            margin-top: 70px;
        }
        textarea {
            width: 100%;
            margin-top: 70px;
            border-bottom: 2px solid rgba(106, 73, 153, 0.4);
        }
        button {
            cursor: url('../img/cursor.cur'), default;
            outline: none;
            border: none;
            margin-top: 114px;
        }
    }
}

// === / feedback
// --- contacts
.section_footer {
    background: linear-gradient(176.99deg, rgba(23, 4, 34, 0.2) -0.27%, rgba(70, 11, 112, 0.122) 94.77%);
    padding-bottom: 0;
    .contacts_box {
        a+a {
            margin-left: 50px;
        }
        img {
            width: 30px;
            margin-right: 25px;
        }
    }
    .footer_text {
        text-align: center;
        margin-top: 150px;
        color: rgba(228, 210, 234, 0.4);
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        text-transform: uppercase;
        padding: 50px 0;
        border-top: 1px solid rgba(202, 152, 131, 0.4);
    }
}

// === / contacts