@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  box-sizing: border-box;
  cursor: url("../img/cursor.cur"), default; }

.cursor {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  transition-duration: 100ms;
  animation: cursorAnim 1.3s infinite alternate;
  pointer-events: none;
  z-index: 1000; }

.cursor::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  border: 1px solid #5f1374;
  border-radius: 50%;
  opacity: .8;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  animation: cursorAnim 1.3s infinite alternate; }

.cursor::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  border: 8px solid #CA9883;
  border-radius: 50%;
  opacity: .5;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  animation: cursorAnim2 1s infinite alternate; }

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid #7e1b75; }

@keyframes cursorAnim {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.5); } }

@keyframes cursorAnim2 {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.5); } }

@keyframes cursorAnim3 {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(3); }
  100% {
    transform: scale(1);
    opacity: 0; } }

.body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 166.69%;
  color: #FFFEFE;
  background-color: #170422; }
  .body a,
  .body a:hover {
    text-decoration: none;
    color: #fff; }
  .body ul {
    margin: 0;
    padding: 0; }
  .body .container {
    max-width: 1290px; }
  .body .brand-btn {
    display: inline-block;
    font-family: 'Roboto';
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    width: 221px;
    transition: .3s; }
    .body .brand-btn__main {
      background: linear-gradient(90deg, #421a88, #7e1b75);
      padding: 14px 0; }
      .body .brand-btn__main:hover {
        filter: drop-shadow(4px 4px 20px rgba(255, 254, 254, 0.2)); }
    .body .brand-btn__second {
      background: none;
      border: 1px solid;
      border-image-source: linear-gradient(90deg, #421a88, #7e1b75);
      border-image-slice: 1;
      padding: 13px 0; }
      .body .brand-btn__second:hover {
        background: linear-gradient(90deg, #421a88, #7e1b75); }
  .body .section_title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 87px;
    text-transform: uppercase;
    color: #FFFEFE;
    margin-bottom: 150px; }

section {
  padding-top: 100px;
  padding-bottom: 100px; }

.header {
  position: absolute;
  z-index: 3;
  width: 100%;
  padding-top: 6px; }
  .header .logo {
    background: url(../img/bg-logo.png) no-repeat 50% 50%;
    background-size: contain;
    width: 121px;
    height: 121px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FCF3E4; }
  .header .menu {
    list-style: none; }
    .header .menu .menu_item a {
      font-weight: normal;
      text-transform: uppercase;
      color: #FCF3E4; }
      .header .menu .menu_item a:hover {
        color: #CA9883; }

.section_intro {
  padding: 0;
  height: 100vh;
  overflow: hidden; }
  .section_intro .video {
    position: relative;
    display: flex; }
    .section_intro .video::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(23, 4, 34, 0.7);
      z-index: 1; }
    .section_intro .video video {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .section_intro .intro_text_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 166.69%; }
    .section_intro .intro_text_wrap .intro_title {
      font-family: 'Roboto';
      font-weight: 900;
      font-size: 150px;
      line-height: 176px;
      letter-spacing: 0.445em;
      text-transform: uppercase;
      color: #CA9883;
      max-width: 1036px; }
    .section_intro .intro_text_wrap .intro_subtitle {
      margin-top: 20px;
      font-family: 'Roboto';
      font-weight: normal;
      font-size: 96px;
      line-height: 112px;
      /* identical to box height */
      letter-spacing: 0.195em; }
    .section_intro .intro_text_wrap .intro_description {
      margin-top: 25px;
      font-weight: normal;
      font-size: 20px;
      line-height: 158.69%;
      /* or 32px */ }
    .section_intro .intro_text_wrap .intro_button {
      margin-top: 50px; }

.section_promo {
  padding-top: 200px; }
  .section_promo .promo_text {
    font-size: 20px;
    margin-bottom: 150px;
    text-align: center; }
  .section_promo .promo_card {
    position: relative;
    display: flex;
    justify-content: center; }
    .section_promo .promo_card__icon {
      position: absolute; }
    .section_promo .promo_card__description {
      text-align: center;
      margin-top: 37.5px;
      padding: 45px 35px;
      border: 1px solid rgba(255, 254, 254, 0.5);
      min-height: 270px; }

.section_services .section_title {
  position: relative; }
  .section_services .section_title::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-left: -110px;
    display: block;
    background-color: #CA9883;
    width: 90px;
    height: 3px; }

.section_services .service_card {
  margin-top: 100px; }
  .section_services .service_card__title {
    position: relative;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    text-transform: uppercase;
    color: #CA9883;
    padding-bottom: 15px;
    margin-bottom: 20px; }
    .section_services .service_card__title::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 90px;
      background-color: #CA9883; }
  .section_services .service_card__description {
    padding-left: 40px;
    min-height: 330px; }
    .section_services .service_card__description ul {
      margin-left: 20px; }
  .section_services .service_card__button {
    margin-top: 15px;
    padding-left: 40px; }

.section_steps .section_title {
  position: relative; }
  .section_steps .section_title::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-left: -110px;
    display: block;
    background-color: #CA9883;
    width: 90px;
    height: 3px; }

.section_steps .steps_item {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section_steps .steps_item__icon {
    width: 60px;
    height: 60px;
    margin-bottom: 30px; }
    .section_steps .steps_item__icon img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .section_steps .steps_item__title {
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    text-transform: uppercase;
    color: #CA9883; }
  .section_steps .steps_item__description {
    text-align: center;
    color: #FFFFFF; }

.section_about {
  padding: 0;
  position: relative;
  overflow: hidden;
  background-color: #0f000c; }
  .section_about .video {
    position: relative;
    display: flex;
    height: 970px; }
    .section_about .video::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(23, 4, 34, 0.7);
      z-index: 1; }
    .section_about .video video {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .section_about .about_text_wrap {
    padding-top: 100px;
    padding-bottom: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    line-height: 166.69%; }
    .section_about .about_text_wrap .slider .about_item {
      max-width: 376px;
      height: 460px;
      padding: 0 72px;
      margin: 20px 10px;
      outline: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(74, 20, 75, 0.2);
      border-radius: 5px;
      transition: .3s; }
      .section_about .about_text_wrap .slider .about_item:hover {
        background: #25042E; }
      .section_about .about_text_wrap .slider .about_item__title {
        font-weight: 600;
        font-size: 70px;
        line-height: 1;
        text-transform: uppercase;
        color: #FFFEFE;
        transition: .3s; }
        .section_about .about_text_wrap .slider .about_item__title span {
          font-size: 48px; }
      .section_about .about_text_wrap .slider .about_item__description {
        text-align: center;
        margin-top: 30px;
        font-weight: normal;
        font-size: 20px;
        line-height: 1.3; }
    .section_about .about_text_wrap .slider .slick-current {
      background: #25042E;
      height: 500px;
      margin: 0 10px; }
      .section_about .about_text_wrap .slider .slick-current .about_item__title {
        font-size: 96px; }

.section_feedback .form input,
.section_feedback .form textarea {
  outline: none;
  border: none;
  resize: none;
  color: #fff;
  background: none; }

.section_feedback .form .input {
  width: 100%;
  border-bottom: 2px solid rgba(106, 73, 153, 0.4);
  padding: 10px 0;
  margin-top: 70px; }

.section_feedback .form textarea {
  width: 100%;
  margin-top: 70px;
  border-bottom: 2px solid rgba(106, 73, 153, 0.4); }

.section_feedback .form button {
  cursor: url("../img/cursor.cur"), default;
  outline: none;
  border: none;
  margin-top: 114px; }

.section_footer {
  background: linear-gradient(176.99deg, rgba(23, 4, 34, 0.2) -0.27%, rgba(70, 11, 112, 0.122) 94.77%);
  padding-bottom: 0; }
  .section_footer .contacts_box a + a {
    margin-left: 50px; }
  .section_footer .contacts_box img {
    width: 30px;
    margin-right: 25px; }
  .section_footer .footer_text {
    text-align: center;
    margin-top: 150px;
    color: rgba(228, 210, 234, 0.4);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-transform: uppercase;
    padding: 50px 0;
    border-top: 1px solid rgba(202, 152, 131, 0.4); }
