@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  box-sizing: border-box; }

.body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 166.69%;
  color: #FFFEFE; }
  .body a,
  .body a:hover {
    text-decoration: none;
    color: #fff; }
  .body ul {
    margin: 0;
    padding: 0; }
  .body .container {
    max-width: 1290px; }
  .body .main_btn {
    display: inline-block;
    font-family: 'Roboto';
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #421a88, #7e1b75);
    padding: 14px 0;
    width: 221px;
    transition: .3s; }
    .body .main_btn:hover {
      filter: drop-shadow(4px 4px 20px rgba(255, 254, 254, 0.2)); }
    .body .main_btn__second {
      background: none;
      border: 1px solid;
      border-image-source: linear-gradient(90deg, #421a88, #7e1b75);
      border-image-slice: 1;
      padding: 13px 0; }
  .body .section_title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 87px;
    text-transform: uppercase;
    color: #FFFEFE;
    margin-bottom: 150px; }

.section_group {
  background: linear-gradient(132.9deg, #0b0213 0%, #1c041a 97.04%); }

section {
  padding-top: 100px;
  padding-bottom: 100px; }

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-top: 6px; }
  .header .logo {
    background: url(../img/bg-logo.png) no-repeat 50% 50%;
    background-size: contain;
    width: 121px;
    height: 121px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FCF3E4; }
  .header .menu {
    list-style: none; }
    .header .menu .menu_item a {
      font-weight: normal;
      text-transform: uppercase;
      color: #FCF3E4; }

.section_intro {
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #0b0213; }
  .section_intro::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; }
  .section_intro .intro_text_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 166.69%; }
    .section_intro .intro_text_wrap .intro_title {
      font-family: 'Roboto';
      font-weight: 900;
      font-size: 150px;
      line-height: 176px;
      letter-spacing: 0.445em;
      text-transform: uppercase;
      color: #CA9883;
      max-width: 1036px; }
    .section_intro .intro_text_wrap .intro_subtitle {
      margin-top: 20px;
      font-family: 'Roboto';
      font-weight: normal;
      font-size: 96px;
      line-height: 112px;
      /* identical to box height */
      letter-spacing: 0.195em; }
    .section_intro .intro_text_wrap .intro_description {
      margin-top: 25px;
      font-weight: normal;
      font-size: 20px;
      line-height: 158.69%;
      /* or 32px */ }
    .section_intro .intro_text_wrap .intro_button {
      margin-top: 50px; }

.section_promo {
  padding-top: 200px; }
  .section_promo .promo_text {
    font-size: 20px;
    margin-bottom: 150px;
    text-align: center; }
  .section_promo .promo_card {
    position: relative;
    display: flex;
    justify-content: center; }
    .section_promo .promo_card__icon {
      position: absolute; }
    .section_promo .promo_card__description {
      text-align: center;
      margin-top: 37.5px;
      padding: 45px 35px;
      border: 1px solid rgba(255, 254, 254, 0.5);
      min-height: 270px; }

.section_services .service_card {
  margin-top: 100px; }
  .section_services .service_card__title {
    position: relative;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    text-transform: uppercase;
    color: #CA9883;
    padding-bottom: 15px;
    margin-bottom: 20px; }
    .section_services .service_card__title::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 90px;
      background-color: #CA9883; }
  .section_services .service_card__description {
    padding-left: 40px;
    min-height: 330px; }
    .section_services .service_card__description ul {
      margin-left: 20px; }
  .section_services .service_card__button {
    margin-top: 15px;
    padding-left: 40px; }

.section_steps .steps_item {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section_steps .steps_item__icon {
    width: 60px;
    height: 60px;
    margin-bottom: 30px; }
    .section_steps .steps_item__icon img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .section_steps .steps_item__title {
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    text-transform: uppercase;
    color: #BF907C; }
  .section_steps .steps_item__description {
    text-align: center;
    color: #FFFFFF; }

.section_about {
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 880px;
  background-color: #0f000c; }
  .section_about::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; }
  .section_about .about_text_wrap {
    padding-top: 100px;
    padding-bottom: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    line-height: 166.69%; }
    .section_about .about_text_wrap .about_item {
      margin-top: 75px; }
      .section_about .about_text_wrap .about_item__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        text-transform: uppercase;
        color: #FFFEFE; }
      .section_about .about_text_wrap .about_item__description {
        margin-top: 25px; }

.section_feedback {
  background-color: #0f000c; }
  .section_feedback .form input,
  .section_feedback .form textarea {
    outline: none;
    border: none;
    resize: none;
    color: #fff;
    background: none; }
  .section_feedback .form .input {
    width: 100%;
    border-bottom: 2px solid rgba(106, 73, 153, 0.4);
    padding: 10px 0;
    margin-top: 70px; }
  .section_feedback .form textarea {
    width: 100%;
    margin-top: 70px;
    border-bottom: 2px solid rgba(106, 73, 153, 0.4); }
  .section_feedback .form button {
    outline: none;
    border: none;
    margin-top: 114px; }

.section_footer {
  background: #0f000c url(../img/footer.png) no-repeat 0 0;
  background-size: 100% 100%;
  padding-bottom: 0; }
  .section_footer .contacts_icon {
    width: 30px;
    margin-right: 20px; }
  .section_footer .footer_text {
    text-align: center;
    margin-top: 150px;
    color: rgba(228, 210, 234, 0.4);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-transform: uppercase;
    padding: 50px 0;
    border-top: 1px solid #CA9883; }
